@import 'global';

.Banner
{
    height: 400px;
    position: relative;

    .Media
    {
        background-color: white;
        height: 100%;
        overflow: hidden;

        position: relative;
        
        .MediaTitle
        {
            text-overflow: ellipsis;

            position: absolute;
            top: 0;

            padding: 5px;

            background-color: black;
            color: white;
            opacity: 0.6;

            width: 100%;
            height: 10%;

            font:
            {
                size: $header-font-size;
                weight: 200;
            }

            transition: 300ms;
            cursor: pointer;
            &:hover
            {
                opacity: 0.8;
            }
            
        }

        .MediaCaption
        {
            text-overflow: ellipsis;

            position: absolute;
            bottom: 0;

            padding: 5px;

            background-color: black;
            color: white;
            opacity: 0.6;

            width: 100%;
            height: 10%;

            font:
            {
                size: $header-font-size;
                weight: 100;
            }

            transition: 300ms;
            cursor: pointer;
            &:hover
            {
                opacity: 0.8;
            }
            
        }

        /*transition: 300ms;
        cursor: pointer;
        &:hover
        {
            filter: brightness(115%);
        }*/
    }

    .BannerGrid
    {
        height: 100%;
    }

    .Content
    {
        color: #261149;
        background-color: #e7ebf6;
        height: 100%;

        //cursor: pointer;

        padding: 30px;

        transition: 300ms;

        /*&:hover, &:active
        {
            background-color: #8F2F10;

            .ViewButton
            {
                background-color: $almost-white;
                color: #8F8906
            }
        }*/

        .Title
        {
            font-size: $huge-font-size;
            font-weight: 500;
            text-align: center;
            margin-top: 30%;
            font-family: 'Tenor Sans';
        }

        .Caption
        {
            margin-top: 10px;
            font-size: $bigger-font-size;
        }

        .ViewButton
        {
            margin-top: 40px;
            color: white;

            font-size: $header-font-size;
            border: 3px solid white;
            text-transform: capitalize;

            transition: 200ms;
        }
    }
}